# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
venv/
env/

# VSCode
.vscode/

# Mac
.DS_Store

# Logs
*.log

# IDE/Editors
.idea/
*.sublime-workspace
*.sublime-project

# Python environment files
*.env